# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number=6
print(number)

6

##### Assinging float

In [7]:
numberfloat = 3.1342
print(numberfloat)

3.1342

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1=5
num2=6
print(num1 + num2)

11

##### Subtraction

In [3]:
num_diff=num1-num2
print(num_diff)

-1

##### Multiplication

In [5]:
num_mul=num1 * num2
print(num_mul)

30

##### Division

In [6]:
num_div=num1 / num2
print(num_div)

0.8333333333333334

##### Floor Division

In [8]:
num_floor=num1//num2
print(num_floor)

0

##### Modulo

In [12]:
num_mod=10% 3
print(num_mod)

1

##### Exponential

In [13]:
num_exp=5**2
print(num_exp)

25

### String Input-Output

##### String Assignment

In [17]:
name="damon"
print(name)

damon

##### print() <br>
<p>Don't forget about end=' '</p>

In [20]:
print("Hi my name is " + name)

Hi my name is damon

##### String Concatenation

In [23]:
first_name="damon"
last_name="li"
print(first_name+ " " +last_name)

damon li

##### Type Conversion

In [25]:
num="100"
changed_type=int(num)
print(num)
print(changed_type)

100
100

##### input()

In [26]:
age=int(input("Hi how old are you?:"))
print(age)

Hi how old are you?:12
12

##### format()

In [30]:
age=input("How old are you?:")
result="You are {} {}".format(age,name)
print(result)
result_again=f"That is a nice name {name}"
print(result_again)

How old are you?:12
You are 12 damon
That is a nice name damon

##### Old Way (python 2)

In [34]:
result2=("You are %s and look great for your age!") %age
print(result2)

You are 12 and look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color=("white")
year=2021
make_model=("Honda Accord")
final ="Damon your {} {} is {}".format(year,make_model,color)
print(final)

Damon your 2021 Honda Accord is white

### If Statements

In [49]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5


if num1 == 6:
    print("this is true!")
else:
    print("this is false")
if num1 ==5:
    print("this is true")
else:
    print("this is false")
if num1 <5:
    print("this is true")
else:
    print("this is false")
if num1 > 5:
    print("this is true")
else:
    print("This is false")

this is false
this is true
this is false
This is false

##### 'is' keyword

In [72]:
nume = 55
if num == 51:
    print("This is the exact number/object")

##### 'in' keyword

In [3]:
drinks= "powerade"
if "powerade" in drinks:
    print("it is blue")

it is blue

##### 'not in' keyword'

In [5]:
marvel = "iron man"
if "batman" not in marvel:
    print("Wrong universe")

Wrong universe

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [20]:
x=input("What is you favorite snack?")
if "p" in input:
        print("there is a p")

TypeError: 'str' object is not callable

## Using 'and'/'or' with If Statements

In [19]:
num1 = 15
num2 = 3
num3 = 10
num4 = 3

if num1 / 5 == num2 and num3 - 7 == num4:
    print("true")
if num1 / 5 == num2 or num3 - 7 == num4:
    print("false")
if num1 / 5 == num2 or num3 / 2 == num4:
    print("true")

true
false
true

### Elif Statements

In [38]:
first_name = input('What is your name? ')

if first_name == "Damon":
    print("Your name is Damon")
elif first_name != "max":
        print("your name is not max")
elif first_name == "Brandon":
    print("Your'e name is Brandon")
else:
    print("Your name is max")

TypeError: 'str' object is not callable

### Else Statements

In [ ]:
# see above

### For Loops

In [39]:
a_list=[1,2,3,4,5]
for i in a_list:
    print(i)

1
2
3
4
5

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [41]:
for i in range(20):
    if i ==5:
        continue 
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [42]:
for i in range(20):
    if i == 15:
         break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [48]:
name = "Damon Li"
for i in name:
    pass

##### Double For Loops

In [50]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [51]:
num = 0 
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [52]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == "yes":
        game_over = False

Infinite Loop

TypeError: 'str' object is not callable

##### While & For Loops Used Together

In [57]:
num = 0

while num < 5:
    print("\nWhile loop iteration: ", str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
    
    num += 1

While loop iteration:  0
For loop iteration:  1
For loop iteration:  2

While loop iteration:  1
For loop iteration:  1
For loop iteration:  2

While loop iteration:  2
For loop iteration:  1
For loop iteration:  2

While loop iteration:  3
For loop iteration:  1
For loop iteration:  2

While loop iteration:  4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [59]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [60]:
name = input("give me the name of your favorite book: ")
length = len(name)
print(length)

TypeError: 'str' object is not callable

##### help()

In [61]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [67]:
num=input("pick a num")
if isinstance(num,int):
    print(f"{num} is an int")
else:
    print(f"{num}is a float")

TypeError: 'str' object is not callable

##### abs()

In [68]:
print(abs(-5))

5

### Try and Except

In [84]:
try:
    input_num = int(input("guess a number"))
    print('Your number is: ' ,str(input_num))
except:
        print("that didn't work! change your input to a number!")

that didn't work! change your input to a number!

### Lists

##### Declaring Lists

In [85]:
list_1 = ["apple","banana", "organge"]
print(list_1)

['apple', 'banana', 'organge']

##### Indexing a List

In [86]:
print(list_1[2])

organge

##### .append()

In [87]:
list_1.append("grape")
print(list_1)

['apple', 'banana', 'organge', 'grape']

##### .insert()

In [89]:
list_1.insert(1,"pineapple")
print(list_1)

['apple', 'pineapple', 'banana', 'organge', 'grape']

##### .pop()

In [91]:
list_1.pop(3)
print(list_1)

['apple', 'pineapple', 'banana', 'grape']


##### .remove()

In [99]:
while "grape" in list_1:
    list_1.remove("grape")
print(list_1)

['pineapple', 'banana']

##### del()

In [100]:
del(list_1[0])
print(list_1)

['banana']

##### Concatenating Two Lists

In [102]:
list = [1,2,3,4]
list2 = [5,6,7,8]

large_list = list + list2

print(large_list)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists Within Lists

In [109]:
names = ["Damon", "Nelly", "Edmund", ["Kelly", ["Justin", "Bernice"], "Shuk"]]
print(names)
print(names[3][1][1])

['Damon', 'Nelly', 'Edmund', ['Kelly', ['Justin', 'Bernice'], 'Shuk']]
Bernice

##### Looping Through Lists

In [110]:
for i in range(len(names)):
    print(names[i])

Damon
Nelly
Edmund
['Kelly', ['Justin', 'Bernice'], 'Shuk']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [5]:
for i in range(0,1000):
    if i ** 3 >= 1001:
        break
    print(i**3)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [5]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [126]:
age = int(input('how old are you? '))
if age < 18:
    print("Kid")
elif age > 65:
    print("Adult")
else:
    print("Senior")

TypeError: 'str' object is not callable